@model RegisterViewModel

<div class="mb-3">
    <label asp-for="FirstName" class="form-label" style="color: #f8fafc;">First Name</label>
    <input asp-for="FirstName" class="form-control" />
</div>


