@{
    ViewData["Title"] = "Login";
}

<form method="get" action="/Login/LoginCheck">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">check login info</button>
</form>
@if (ViewBag.check != null)
{
    <h3>Result: @ViewBag.check</h3>
}
